<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-base64binary"
    version="0.0.1">

    <name>base64binary</name>
    <description>This plugin decodes base64binary data and converts it into a file. The file can then be opened with the appropriate third party apps using ios actions sheet with options.</description>
    <author>Josue Bustos</author>
    <keywords>base64binary,base64,decode,open with,file opener,actionsheet,action sheet</keywords>
    <license>MIT</license>
    <js-module src="www/base64binary.js" name="base64binary">
        <clobbers target="window.decode" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="base64binary">
                <param name="ios-package" value="base64binary" />
            </feature>
        </config-file>

    <header-file src="src/ios/base64binary.h" />
	<source-file src="src/ios/base64binary.m" />
	
    <header-file src="src/ios/NSData+Base64.h" />
	<source-file src="src/ios/NSData+Base64.m" />
    </platform>


</plugin>
